<!DOCTYPE html>
<html>

<head>
    <title>React App Title Here!</title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/bundle/app.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    {{{body}}}
</body>

</html>